<%- include ("partials/header") %>
<h1>
	 Home Page
</h1>

<img src = "https://www.sciencealert.com/images/2019-12/processed/CatsHaveFacialExpressionsButHardToRead_600.jpg">

<%- include ("partials/footer") %>